.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      .chat-main__group-info__left__current-group
        = @group.name
      .chat-main__group-info__left__member-list
        Member：
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__right
      = link_to edit_group_path(@group.id), class: "chat-main__group-info__right__edit-btn" do
        Edit
  .chat-main__messages
    .chat-main__messages__message
      = render @messages
  .chat-main__form
    = form_for [@group, @message], html:{class:"chat-main__form__new-message"} do |f|
      .chat-main__form__new-message
        = f.text_field :content, class: 'chat-main__form__new-message__input-box', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__form__new-message__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chat-main__form__submit-btn'